In [1]:
import pandas as pd 
df = pd.read_csv('customer_shopping_behavior.csv')

In [3]:
df.head()

   Customer ID  Age  ... Payment Method Frequency of Purchases
0            1   55  ...          Venmo            Fortnightly
1            2   19  ...           Cash            Fortnightly
2            3   50  ...    Credit Card                 Weekly
3            4   21  ...         PayPal                 Weekly
4            5   45  ...         PayPal               Annually

[5 rows x 18 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [7]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [9]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [13]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [15]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [23]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [25]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [27]:
df = df.rename(columns= {'purchase_amount_(usd)':'purchase_amount'})

In [29]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [35]:
# Create a column age_groupabs
labels = ['Young Adult', 'Adult','Middle-Age','Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels=labels)

In [47]:
df.head(5)

   customer_id  age  ...    age_group purchase_frequency_days
0            1   55  ...   Middle-Age                    14.0
1            2   19  ...  Young Adult                    14.0
2            3   50  ...   Middle-Age                     7.0
3            4   21  ...  Young Adult                     7.0
4            5   45  ...   Middle-Age                     NaN

[5 rows x 20 columns]

In [51]:
# Create column purchase_frequency_days 
frequency_mapping = {
    'Weekly':7, 'Fortnightly':14,'Bi-Weekly':14, 'Monthly':30, 'Quarterly':90,'Every 3 Month': 90,'Annually':365
}
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [53]:
df.head()

   customer_id  age  ...    age_group purchase_frequency_days
0            1   55  ...   Middle-Age                    14.0
1            2   19  ...  Young Adult                    14.0
2            3   50  ...   Middle-Age                     7.0
3            4   21  ...  Young Adult                     7.0
4            5   45  ...   Middle-Age                   365.0

[5 rows x 20 columns]

In [55]:
df['purchase_frequency_days'] = df['purchase_frequency_days'].fillna(0).astype(int)

In [57]:
df.head()

   customer_id  age  ...    age_group purchase_frequency_days
0            1   55  ...   Middle-Age                      14
1            2   19  ...  Young Adult                      14
2            3   50  ...   Middle-Age                       7
3            4   21  ...  Young Adult                       7
4            5   45  ...   Middle-Age                     365

[5 rows x 20 columns]

In [59]:
# Let us check of promo_code_used and discount_applied has the same value or different, so we can make to leave or delate one
df[['discount_applied','promo_code_used']].head()

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes

In [67]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [69]:
# as they contain the same value, we better delate one of them
df = df.drop(['promo_code_used'],axis = 1)

In [80]:
df.to_csv('customer_shopping_behavior_clean.csv', index=False)

In [82]:
import os
os.getcwd()

'C:\\Users\\jnayo'